<!DOCTYPE html>
<html>
<head>
  {% extends 'buytextbooks/base.html'%}
  <title>{%block title %}index{% endblock %} </title>

</head>
<body>
{%block body%}
{% if all_textbooks %}
  <h3>Here are all the Textbooks:</h3>
    <ul>
      {% for textbook in all_textbooks %}
        <li><a href = "{% url 'books:detail' textbook.id%}">{{textbook.textbooktitle}}</a></li>
      {% endfor %}
    </ul>



  <h3>Here are all the Prepbooks:</h3>
    <ul>
      {% for prepbook in all_prepbooks %}
        <li><a href = "{% url 'books:detail' prepbook.id%}">{{prepbook.prepbooktitle}}</a></li>
      {% endfor %}
    </ul>

{% endif %}
{%endblock%}
</body>
</html>
